In [7]:
import AssetUtils
from importlib import reload
reload(AssetUtils)
AssetDatabase = AssetUtils.AssetDatabase
AssetPortfolio = AssetUtils.AssetPortfolio

In [512]:
db = AssetDatabase()
#db.retrieve_database()
db.load_database('data/my_asset_database')
db.load_asset_historicals('data/my_asset_prices')
#assets = ['Арсагера — акции 6.4', 'FXMM']
#for asset in assets:
#    db.update_asset_historical(asset)

12 entries loaded from data/my_asset_prices

In [513]:
#db.save_asset_historicals('data/my_asset_prices_2')

In [515]:
db.get_asset_historical('Арсагера — акции 6.4', '2015.04.29')

date     2015-03-31 00:00:00
price                 2662.3
Name: 38, dtype: object

In [8]:
portfolio = AssetPortfolio('data/my_asset_database')
portfolio.asset_db.load_asset_historicals('data/my_asset_prices')

12 entries loaded from data/my_asset_prices

In [9]:
# assets = ['Арсагера — акции 6.4', 'FXMM', 'FXGD', 'FXAU', 'FXCN', 'FXDE', 'FXJP', 'FXUK', 'FXIT', 'FXUS', 'FXRL', 'FXRB']
# for asset in assets:
#     portfolio.asset_db.update_asset_historical(asset)
# portfolio.asset_db.save_asset_historicals('data/my_asset_prices')

In [10]:
portfolio.buy('FXRB', '2017-08-15', 1372, 1, 0.2*6)
# portfolio.buy('FXRB', '2017-08-16', 2100, 10, 0.21*10)
# portfolio.buy('FXRB', '2017-08-14', 1900, 5, 0.19*2)
# portfolio.sell('FXRB', '2017-08-18', 2200, 5, 0.22*5)
# portfolio.pay_fee('2017-08-21', 150)
# portfolio.sell('FXRB', '2017-08-19', 2100, 5, 0.21*1)
# portfolio.buy('FXMM', '2017-08-21', 1300, 1, 0.13*20)

In [11]:
portfolio.list_positions()

0   FXRB	 2017-08-15	 buy	 1372.00	 1.00	 1.20

In [12]:
print(portfolio.get_money_invested())
print(portfolio.get_fee())
print(portfolio.get_money_withdrawn())
print(portfolio.get_portfolio_price_today())
print(portfolio.get_profit())

1372
1.2000000000000002
0
1401.0
27.8

In [14]:
portfolio.get_portfolio_price_span('2017-08-01', '2017-09-01')

         date   price
0  2017-08-01     0.0
1  2017-08-02     0.0
2  2017-08-03     0.0
3  2017-08-04     0.0
4  2017-08-05     0.0
5  2017-08-06     0.0
6  2017-08-07     0.0
7  2017-08-08     0.0
8  2017-08-09     0.0
9  2017-08-10     0.0
10 2017-08-11     0.0
11 2017-08-12     0.0
12 2017-08-13     0.0
13 2017-08-14     0.0
14 2017-08-15  1374.0
15 2017-08-16  1374.0
16 2017-08-17  1375.0
17 2017-08-18  1376.0
18 2017-08-19  1376.0
19 2017-08-20  1376.0
20 2017-08-21  1379.0
21 2017-08-22  1377.0
22 2017-08-23  1380.0
23 2017-08-24  1381.0
24 2017-08-25  1384.0
25 2017-08-26  1384.0
26 2017-08-27  1384.0
27 2017-08-28  1386.0
28 2017-08-29  1391.0
29 2017-08-30  1389.0
30 2017-08-31  1389.0
31 2017-09-01  1388.0